.video_card{
    
    width:23rem;
    padding: 0.5rem;
  
}
.video_img{
    width:100%;
    height:15rem;
}
.video_info{
    display:flex;
    gap:1rem;
}
.video_avatar{
    border-radius:50%;
    width:3rem;
    height:3rem;
}
.avatar_img{
    width:100%;
    height:100%;
    border-radius:inherit;
    object-fit:cover;
}
.video_title_container{
    display:flex;
    justify-content:center;
    flex-direction:column; 
}
.video_title{
    text-overflow:ellipsis;
    white-space:nowrap;
    width:15rem;
    overflow:hidden;
}
.video_channel{
    color:gray;
}
.card_ellipsis{
    display:flex;
    justify-content:center;
    align-items:center;
   position: relative;  
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   border: 1px solid transparent;
   cursor: pointer;
}
.card_ellipsis_option{
    position:absolute;
    right:0rem ;
    top:2rem;
    width:max-content;
    display: flex;
    flex-direction:column;
    z-index:2;
    background-color:rgb(44, 40, 40);
    
}
.option_container{
    display:flex;
    font-size:1.1rem;
    padding:0.5rem;
    gap:0.5rem;
}
.option_icon{
    display:grid;
    place-items:center;
}
.display-none{
    display: none;
}
/* HOVER  */

.video_card:hover{
    background-color: #373737;
}
.card_ellipsis:hover{
    border: 1px solid rgb(112, 107, 107);
}
.option_container:hover{
    background-color: #5c5b5b;
}
.option-icon-remove{
    color: rgb(204, 19, 19);
}